@keyframes showHeaderMenu {
  from {
    height: 0;
    opacity: 0;
    pointer-events: none;
    padding-top: 0;
  }
  to {
    height: 200px;
    opacity: 1;
    pointer-events: all;
    padding-top: 30px;
  }
}

@keyframes hideHeaderMenu {
  from {
    height: 200px;
    opacity: 1;
    pointer-events: all;
    padding-top: 30px;
  }
  to {
    height: 0;
    opacity: 0;
    pointer-events: none;
    padding-top: 0;
  }
}

@keyframes showFooterLinks {
  from {
    height: 30px;
  }
  to {
    height: fit-content;
  }
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes UnrotateIcon {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}
