.development {
  background: #7821e6;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.container_development {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.development__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.development__person {
  position: relative;

  img {
    position: relative;
    z-index: 10;
  }
}

.header__multi_development,
.header__tech_development {
  position: absolute;

  color: rgb(255, 255, 255);
  font-size: 72px;
  font-weight: 500;
  line-height: 87px;
  top: 50%;
  transform: translateY(-50%);
}

.header__multi_development {
  left: 16%;
}

.header__tech_development {
  left: 50%;
  z-index: 12;
}

.development__text {
  max-width: 630px;
  width: 100%;
}

.development__title {
  margin-bottom: clamp(0px, -0.857rem + 3.81vw, 32px);
}

.development__subtitle {
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 0.946rem + 0.24vw, 18px);
  font-weight: 400;
  line-height: 130%;

  max-width: 400px;

  margin-bottom: clamp(30px, 0.804rem + 4.76vw, 70px);
}

.developmet__images {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

@media screen and (max-width: 1200px) {
  .development {
    height: unset;
  }
  .development__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .development__person {
    order: 1;
  }
}

@media screen and (max-width: 660px) {
  .header__tech_development,
  .header__multi_development {
    display: none;
  }

  .developmet__images {
    img {
      width: clamp(90px, 3.125rem + 12.5vw, 200px);
    }

    .grapthOne {
      width: clamp(100px, 3.977rem + 11.36vw, 200px);
    }
  }
}
