.header__nav {
  position: absolute;
  left: 50%;
  top: -5.5%;
  transform: translateX(-50%);
  width: 95%;
  z-index: 10;

  display: flex;
  align-items: center;

  padding: 21px 32px;

  box-sizing: border-box;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.header__nav_logotype {
  margin-right: auto;

  font-size: 18px;
  font-weight: 500;
  line-height: 29px;

  span {
    color: rgb(33, 94, 230);
  }
}
.header__nav_list {
  display: flex;
  align-items: center;
  column-gap: 64px;
}
.header__nav_item {
  transition: color 0.2s linear, transform 0.2s linear;

  &:hover {
    color: rgb(33, 94, 230);
    transform: translateY(-10%);
  }
}

.header__nav_link {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.header__nav_button {
  display: flex;
  align-items: start;

  margin-left: 112px;

  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  background: rgb(33, 94, 230);
  border-radius: 6px;

  padding: 15px;

  max-width: 230px;
  width: 100%;

  transition: transform 0.2s linear;

  &:hover {
    transform: scale(1.1);
  }
}

#burgerIcon {
  display: none;
}

.header__nav_list-mobile {
  display: none;
}

@media screen and (max-width: 1350px) {
  .header__nav_button {
    // display: none;
    justify-self: center;
    margin-left: unset;
  }
  .header__nav_list {
    display: none;
  }
  .header__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .header__nav_list-mobile {
    grid-column: span 3;
    justify-self: center;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
  #burgerIcon {
    justify-self: end;
    display: block;
  }
  .header__nav_list-mobile {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .header__nav_item-mobile {
    text-align: center;
  }
  .header__nav_link-mobile {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 17px;
  }
}

@media screen and (max-width: 700px) {
  .header__nav_button {
    position: absolute;
    top: 110%;
    width: 100%;
    max-width: unset;

    &:hover {
      transform: scale(1);
    }
  }

  .header__nav {
    grid-template-columns: repeat(2, 1fr);
  }
}

.showHeaderMenu {
  animation: showHeaderMenu 0.4s ease-out forwards;
}

.hideHeaderMenu {
  animation: hideHeaderMenu 0.4s ease-out forwards;
}
