.portfolio {
  height: 100vh;
  position: relative;

  background-image: url(/src/assets/images/main/marketing/elipse.png);
  transform: translateY(-10%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container_portfolio {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio__title {
  margin-left: 100px;
}

.title1_portfolio {
  background: linear-gradient(
    126.38deg,
    rgb(33, 94, 230),
    rgb(143, 33, 230),
    rgb(245, 5, 14)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 128px;
  font-weight: 500;
  line-height: 155px;
}

.circle_portfolio {
  bottom: -35px;
  left: clamp(10px, -0.446rem + 4.76vw, 50px);
}

.title1_portfolio_small {
  display: none;
}

@media screen and (max-width: 900px) {
  .title1_portfolio_small {
    display: block;
    margin-left: clamp(0px, -4.167rem + 18.52vw, 100px);
    font-size: clamp(64px, 1.333rem + 11.85vw, 128px);
    line-height: clamp(55px, 1.146rem + 10.19vw, 110px);
  }

  .title1_portfolio_large {
    display: none;
  }

  .portfolio__title {
    margin-left: unset;
  }

  .portfolio {
    background: unset;
  }
}
